:root {
  --primary: rgb(92, 161, 252);
  --primaryHov: rgb(118, 165, 228);
}
#login_container {
  width: 100;
  height: 100vh;
}

#login_left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.social_btn_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* #login_left_content {
  background: yellow;
} */

.bg-primary {
  background-color: var(--primary);
}

#login_right {
  width: 50%;
  height: 100%;
}

@media (min-width: 376px) {
  #login_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  #login_left_content {
    min-width: 450px;
  }
}

@media (max-width: 375px) {
  #login_left_content {
    min-width: 340px;
  }
}
